<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229182057213-e155rs9eu5jbv8vde55j6bt057ri5sn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229182057213-e155rs9eu5jbv8vde55j6bt057ri5sn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229182057213-769de8bsmb6hie4cah0p82ld12pfr5ps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDenVO37lKav35DX6Ho0X6mcaDpSpAKtbA</string>
	<key>GCM_SENDER_ID</key>
	<string>229182057213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabbi.chatty</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-audio-chat-c0bba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-audio-chat-c0bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229182057213:ios:af7b8b2fa9a360369c6c94</string>
</dict>
</plist>